@import "cores";

*, body{
  margin: 0px;
  padding: 0px
}

.menuVertical{
  width: 200px;
  height: 100%;
  background-color: $grey_900;
  position: fixed;
  z-index: 4096;
  background-image: url('../../src/img/fundo.png');
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  overflow: auto;

  .logo_menuVertical{
    height: 40px;
    margin-bottom: 40px;

    img{
      width: 180px;
    }
  }

  .menu{
    width: 100%!important;
    border-radius: 0px!important;
    border: 0px!important;
    background-color: transparent!important;
    box-shadow: 0px 0px 0px 0px!important;

    .dashboards_dashboards{
      background-color: $grey_800!important;
      padding-left: 25px!important;
    }

    .submenu label{
      color: white!important;
    }

    .submenu:hover{
      background-color: $grey_700!important;
    }

    .activeSubMenu{
        background-color: $grey_700!important;
    }

    .item{
      color: white!important;

      i{
        margin-right: 15px;
        transition: all 0.5s;
      }
    }

    .item:hover{
      background-color: $grey_800!important;

      i{
        color: $red_800;
      }
    }

    .active{
      background-color: $grey_800!important;

      i{
        color: $red_800;
      }
    }
  }

}

.menuHorizontal{
  width: 100%;
  height: 40px;
  background-color: $grey_900;
  position: fixed;
  z-index: 2048;
}

.containerDashboards{
  width: 100%;
  height: 100%;
  padding: 50px 10px 10px 210px;
  position: absolute;

  .gridly{
    position: relative;

    .header_statusagente{
      background-color: $grey_400;
      width: 100%;
      padding: 5px;
      text-align: center;
      cursor: move;
      margin-bottom: 10px;
      border-radius: 5px;
    }

    #statusagente_containerDashboards{
      min-width: 250px;
      min-height: 250px;
      overflow: auto;
      border: 1px solid $grey_400;
      border-radius: 5px;
      padding: 10px;
      background-color: $grey_900;
      resize: both;
    }
  }
}
